# Backend API URL
NEXT_PUBLIC_API_URL=http://localhost:3001

# YouTube OAuth
NEXT_PUBLIC_YOUTUBE_CLIENT_ID=260985892935-aj4n47o62i9jdansrn7u2m6rlq26cho5.apps.googleusercontent.com

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51TY4wG6cFYGgfZEUrf4UCcp8jowzQgrVEmuGircr9VP4S3EsYT8V7i4Y8VosHlvBDQXKbotuaTElmmbfjmddJabg00hteo8EIe
